@use '../abstract' as *;

/*----------------------------------------*/
/*  11. VIDEO CSS START
/*----------------------------------------*/

.video{
    &__inner{
        overflow: hidden;
        &:hover{
            & img{
                @include transform(scale(1.1));
            }
        }
    }
    &__play{
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}